<font size="4" style="color:#000045">
  <form action="/monitoring" method="post">
    <div id="allSensors">
      <label>Choose the Sensor (code-room-shed)</label>
      <select name="sensor">
        {{#each sensors as |val key|}}
          <option value="{{val}}">{{val}}</option>
        {{/each}}
      </select>
    </div>
    <br></br>
    <button type="submit">Submit</button>
  </form>
  <form action="/" method="get">
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <button type="submit">Back Home</button>
  </form>
</font>
