<div id="select-parameters" style="color:#000045"><font size="4">
  <form action="/configureReport" method="get">
    <label>Get a Report</label>
    <button type="report">Report</button>
  </form>
  <br></br>
  <form action="/configureMonitorSensor" method="get">
    <label>Monitor a Sensor</label>
    <button type="monitorSensor">Monitor</button>
  </form>
</font></div>
