<font size="4">
  <form action="/configureReport" method="get">
    <button type="submit">Get a Report!</button>
  </form>
  <br></br>
  <form action="/configureMonitorSensor" method="get">
    <button type="submit">Monitor a Sensor!</button>
  </form>
  <br></br>
  <form action="/setupDB" method="get">
    <button type="submit">Edit your Database!</button>
  </form>
</font>
