<section class="sensorEdit">
    <h3>Sensors</h3>
    <form action="/insertSensor" method="post">
    <p>The Sensors listed bellow sent data but they are not registered yet. Add one of them to the Database if you want!</p>
    <br></br>
      <label>Choose the Sensor (code-reported time):</label>
      <select name="sensor">
        {{#each nonRegisteredSensors as |val key|}}
          <option value="{{val}}">{{val}}</option>
        {{/each}}
      </select>
      <br></br>
      <label>Choose the Room for the chosen Sensor:</label>
      <select name="sensorRoom">
        {{#each rooms as |val key|}}
          <option value="{{val}}">{{val}}</option>
        {{/each}}
      </select>
      <br></br>
      <button type="submit">INSERT</button>
    </form>
</section>
<section class="roomEdit">
</section>
<section class="shedEdit">
</section>
<form action="/" method="get">
  <button class="home" type="submit">Home</button>
</form>
