<font size="4" style="color:#000045">
  <h2>{{msg}}</h2>
    <br></br>
  <form action="/setupDB" method="get">
    <button class="backButton" type="submit">Back to Edit your Database</button>
  </form>
</font>
<form action="/" method="get">
  <button class="home" type="submit">Home</button>
</form>
