<html>
  <head>
    <!--<title>SmartSensing</title>-->
    <title>{{title}}</title><!--2 '{}' indicates that it is only a text to be inserted-->
    <link rel="stylesheet" hef="/stylesheets/style.css">
    <div style="position: absolute; top:400; left:500px; color:#000045"><font size="50"><h1>{{title}}</h1></font></div>
  </head>
  <body bgcolor="#E6E6FA">
    {{{body}}}  <!--3 '{}' indicates that the content must be rendered-->
  </body>
</html>
