<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/datepicker.css">
    <script src="jsSource/jquery-1.12.4.js"></script>
    <script src="jsSource/jquery-ui.js"></script>
    <h1>{{title}}</h1>
</head>
<body>
    {{{body}}}
</body>
</html>
